<p>Thank You So Much For Your Order, Here are the oder details information:</p>
<div class="row">
<div class="col s12">
  <div class="card purple darken-1">
    <div class="card-content white-text">
      <span class="card-title">Your Order Info:</span>
      <p>Your Name: <%= @order.name %> .</p>
      <p>Your Phone: <%= @order.phone %> .</p>
      <p>Your Address: <%= @order.address %> .</p>
    </div>    
</div>
</div>
