@import "materialize";
@import "toastr";
@import "pages";
@import "font-awesome";
@import "food_items";
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}